<form class="category-editor__content b-modal__content b-form">
	<h2 class="b-headline-l1">Kategorie bearbeiten</h2>
	<h3 class="b-headline-l2">{ model:name }</h3>

	<label class="b-form-label" for="category-editor__input--name">Name</label>
	<input type="text"
		   name="name"
		   id="category-editor__input--name"
		   rv-value="model:name"
		   autocomplete="disabled"
		   class="b-form-input"/>

	<label class="b-form-label" for="category-editor__input--category">Kategorie</label>
	<span class="b-form-select-wrap">
			<select name="category"
					id="category-editor__input--category"
					class="b-form-select"
					rv-value="model:categoryId">
				<option rv-value="category:id" rv-each-category="categories:models">{ category:name }</option>
			</select>
		</span>

	<label class="b-form-label" for="category-editor__input--goal">Sparziel</label>
	<input type="text"
		   name="goal"
		   id="category-editor__input--goal"
		   class="b-form-input"
		   rv-currency-value="model:goal" />
</form>