@import './variables.scss';

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular-webfont.ttf');
	src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
	url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Bold-webfont.ttf');
	src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
	url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Italic-webfont.ttf');
	src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
	url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-BoldItalic-webfont.ttf');
	src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
	url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

/**
RESET
**/

* {
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
	box-sizing: border-box;
}

main, section, aside, subline, subhead, header, footer {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

button {
	cursor: pointer;
	background: none;
	border: none;
}

input, button, textarea {
	font-family: 'OpenSans';
	font-size: 1em;
}

html {
    height: 100%;
	min-height: 100%;
}

body {
	font-family: 'OpenSans';
	color: $text;
    height: 100%;
	min-height: 100%;
}

a {
	color: $text;
	text-decoration: underline;
}

img {
	max-width: 100%;
	height: auto;
}
