@import '../definitions/variables';

.b {

	/** Headlines **/
	&-headline {
		&-l1 {
			display: block;
			font-size: 24px;
			margin: 40px 0 10px;
			clear: both;

			&:first-child {
				margin-top: 0;
			}
		}

		&-l2 {
			display: block;
			font-size: 18px;
			margin: 30px 0 10px;
			clear: both;

			&:first-child {
				margin-top: 0;
			}
		}
	}


	/** Forms **/
	&-form {
		&-label {
			display: block;
			color: lighten($text, 10);
			font-size: 14px;
			margin: 11px 0 0;
			padding: 4px 0;
		}

		&-input,
		&-select-wrap {
			display: block;
			width: 100%;
			padding: 9px;
			border: 1px solid lighten($background-box, 2);
			outline: none;
			background: lighten($background-box, 2);

			&--error {
				border-color: $red;
				background: lighten($red, 35);
			}
		}

		&-select-wrap {
			padding: 8.5px 10px 8.5px 2px;
			border: none;
		}

		&-select {
			display: block;
			width: 100%;
			font: inherit;
			border: none;
			outline: none;
			background: transparent;
		}

		&-save,
		&-cancel,
		&-remove,
		&-hide {
			margin-top: 40px;
		}
		&-save {
			@extend .button;
			@extend .button--inline;
			@extend .button--small;

			margin-left: 10px;
			float: right;
		}
		&-cancel {
			@extend .button;
			@extend .button--inline;
			@extend .button--small;
			@extend .button--text;

			opacity: 0.6;
			float: right;
		}
		&-remove,
		&-hide {
			@extend .button;
			@extend .button--inline;
			@extend .button--small;

			opacity: 0.4;
			float: left;

			&--text {
				@extend .button--text;
			}
			&--hidden {
				display: none;
			}
		}
		&-remove {
			@extend .button--destructive;
		}
	}


	/** Loader **/
	&-loader {
		position: relative;
		min-height: 100px;

		&:before,
		&:after {
			display: none;
			position: absolute;
		}

		&.loading:before,
		&.loading:after {
			display: block;
		}

		&:before {
			content: '';
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba($background-copy, 0.2);
		}
		&--light:before {
			background: rgba($background, 0.4);
		}
		&--nobg:before {
			background: transparent;
		}

		&:after {
			content: '\e809';
			top: 50%;
			left: 50%;
			margin: -25px 0 0 -20px;
			width: 40px;
			height: 40px;

			@extend [class^="icon-"]:before;
			font-size: 2.5em;
			color: rgba($background-copy, 0.6);
			animation:spin 1s linear infinite;
		}
	}


	/** Empty Message **/
	&-empty-message {
		background: lighten($background-box, 4);
		padding: 40px;
		text-align: center;
		color: lighten($text, 30);
	}


	/** Danger Zone **/
	&-danger {
		&-text {
			color: rgba($text, 0.6);
		}

		&-button {
			@extend .button;
			@extend .button--destructive;
			margin-top: 15px;
		}
	}
}