$font_default: 'OpenSans';

$primary: #5DC561;
$primary-dark: #3B933D;
$text: #B6B6B6;

$red: #E64C65;
$orange: #F38149;
$text: #333333;

$background: #FFFFFF;
$background-box: #EBF0F6;
$background-footer: #2A2F36;
$background-copy: #22262C;

$sidebar-width: 80px;




$hover: "&:focus, &:hover, &:active";

$wrapvalue: 5.5;
$unwrap: (100 * $wrapvalue)/(100 - (2 * $wrapvalue)) * 1%;
$wrap: $wrapvalue * 1%;

@mixin clearfix() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@function em($px, $context: 16) {
	@return ($px / $context) * 1em;
}

@mixin hideme() {
	position: absolute;
	left: -3000px;
}

@mixin smaller($px) {
	@media only screen and (max-width: em($px)) {
		@content;
	}
}

@mixin greater($px) {
	@media only screen and (min-width: em($px + 1)) {
		@content;
	}
}

@mixin sharptext() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}
