@import '../definitions/variables';

.budgets-labels {
	position: absolute;
	display: block;
	top: 20px;
	left: $sidebar-width;
	bottom: 20px;
	z-index: 10;
	padding: 130px 0 20px;

	background: lighten($background-box, 4);
	border-right: 20px solid $background;

	&-category {
		display: block;

		&_header {
			position: relative;
		}

		&_name {
			display: block;
			position: relative;
			font-weight: bold;
			width: 200px;
			height: 45px;
			padding: 15px 15px 6px;
			color: lighten($text, 15);
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		&_header:hover &_name {
			padding-right: 35px;
		}

		&_edit {
			@extend [class^="icon-"]:before;
			position: absolute;
			display: none;
			top: 19px;
			right: 14px;
			color: lighten($text, 20);
		}
		&_header:hover &_edit {
			display: block;
		}
	}

	&-budget {
		display: block;
		position: relative;
		width: 200px;
		height: 38px;
		background: lighten($background-box, 1);

		&:nth-child(2n+1) {
			background: lighten($background-box, 4);
		}

		&_name {
			display: block;
			padding: 8px 15px;

			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		&:hover &_name {
			padding-right: 35px;
		}

		&_edit {
			@extend [class^="icon-"]:before;
			position: absolute;
			display: none;
			top: 11px;
			right: 14px;
			color: lighten($text, 20);
		}
		&:hover &_edit {
			display: block;
		}
	}

	&_addCategory,
	&_addBudget {
		width: 178px;
		margin: 40px 10px 0;
	}
	&_addBudget {
		margin-top: 10px;
	}
}