@import '../definitions/variables';

.budgets-stats {
	cursor: pointer;
	user-select: none;

	&_page {
		display: none;
		height: 62px;

		&--active {
			display: block;
		}
	}

	&_label,
	&_value {
		display: block;
		float: left;
		width: 50%;
	}
	&_label {
		padding: 15px 0 0;
		font-size: 12px;
		color: lighten($text, 20);
	}
	&_value {
		margin-top: -1px;
		font-size: 28px;
		font-weight: bold;
		color: lighten($text, 10);

		&--warn {
			color: darken($red, 10);
		}
	}
	&_page--single &_label,
	&_page--single &_value {
		width: 100%;
	}

	&_indicator {
		display: inline-block;
		width: 5px;
		height: 5px;
		border-radius: 5px;
		background: darken($background-box, 20);

		& + & {
			margin-left: 4px;
		}

		&--active {
			background: darken($background-box, 40);
		}
	}
}