@import '../definitions/variables';

.budgets-container {
	float: left;
	background: $background-box;
	padding: 20px 0;
	margin: 0 10px;
	width: 400px;
	text-align: center;
	min-height: 200px;

	&_month {
		font-weight: bold;
		font-size: 28px;
		color: lighten($text, 20);
	}
	&_year {
		font-size: 28px;
		font-weight: 100;
		margin-left: 10px;
		color: lighten($text, 25);
	}

	&_stats {
		height: 80px;
		//overflow: hidden;
	}
}