@import '../definitions/variables';

.budgets-container {
	float: left;
	position: relative;
	background: $background-box;
	padding: 20px 0;
	margin: 0 10px;
	width: 400px;
	text-align: center;
	min-height: 200px;

	&-header {
		position: absolute;
		width: inherit;
		padding: 20px 0;
		z-index: 2;
		background: $background-box;
		transform: translate3d(0,0,0);

		&--fixed {
			position: fixed;
		}
	}

	&_month {
		font-weight: bold;
		font-size: 28px;
		color: lighten($text, 20);
	}
	&_year {
		font-size: 28px;
		font-weight: 100;
		margin-left: 10px;
		color: lighten($text, 25);
	}

	&_stats {
		height: 81px;
		//overflow: hidden;
	}

	&_categories {
		margin-top: 120px;

		@extend .b-loader;
		@extend .b-loader--light;

		&.loading:after {
			top: 75%;
		}
	}
}