@import '../definitions/variables';

.budgets-labels-category-editor,
.budgets-labels-budget-editor {
	position: absolute;
	z-index: 5;
	top: 55px;
	left: (10px + $sidebar-width);
	width: 400px;
	padding: 10px;
	background: $background;
	border: 1px solid darken($background, 10);

	&:before {
		content: '';
		position: absolute;
		top: -16px;
		left: 40px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 16px 16px 16px;
		border-color: transparent transparent darken($background, 10) transparent;
	}
	&:after {
		content: '';
		position: absolute;
		top: -15px;
		left: 41px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 15px 15px 15px;
		border-color: transparent transparent $background transparent;
	}

	&_pluginNotice {
		display: block;
		font-size: 12px;
		color: lighten($text, 40);
		padding: 15px 10px;

		&--hidden {
			display: none;
		}
	}
}

.budgets-labels-budget-editor {
	top: 45px;
}