@import '../definitions/variables';

.dashboard-item {
	display: block;
	position: relative;
	background: $background-box;

	&:hover {
		background: darken($background-box, 2);
	}
	&:active {
		background: darken($background-box, 5);
	}

	& + & {
		margin-top: 10px;
	}

	&_name {
		display: block;
		margin-right: 45px;
		padding: 20px;
		text-decoration: none;
	}

	&_input {
		width: 100%;
		background: none;
		outline: none;
		border: none;

		&:read-only {
			cursor: pointer;
		}
	}

	&_settings {
		position: absolute;
		right: 20px;
		top: 0;
		font-size: 1.2em;
		line-height: 62px;
		opacity: 0.6;
		@extend [class^="icon-"]:before;

		&--hidden {
			display: none;
		}
	}
}