@import '../definitions/variables';

.document-plugin-settings {
	&_status-wrap--hidden,
	&_settings-wrap--hidden {
		display: none;
	}

	&_status {
		&--hidden {
			display: none;
		}

		&-item {
			padding: 10px;
			background: lighten($background-box, 2);

			& + & {
				margin-top: 10px;
			}

			&--error {
				background: $background-footer;
				color: $background-box;
			}
		}

		&-name:before {
			content: '';
			float: left;
			display: block;
			width: 20px;
			height: 20px;
			margin-right: 10px;
			border-radius: 10px;
			padding: 0;
			background: $primary;
		}
		&-item--error &-name:before {
			background: $red;
		}
		&-item--pending &-name:before {
			background: #ccc;
		}

		&-error {
			display: none;
			margin-top: 15px;
			padding: 10px;
			background: #000;
			overflow: auto;
		}
		&-item--error &-error {
			display: block;
		}
	}

	&_settings {
		@extend .b-loader;
		@extend .b-loader--light;
	}
	&_settings-wrap {
		margin-top: 20px;
	}

	&_uninstall-wrap {
		margin-top: 20px;
	}
}