@import '../definitions/variables';

.document-settings {
	&-accounts,
	&-plugins,
	&-users {
		@extend .b-loader;
		@extend .b-loader--light;
	}

	&-accounts_empty,
	&-plugins_empty {
		display: none;

		&--visible {
			display: block;
		}
	}

	&_users-wrap {
		margin-top: 30px;

		&--hidden {
			display: none;
		}
	}
	&_plugins-wrap--hidden {
		display: none;
	}
}