@import '../definitions/variables';

.document-settings-account {
	display: block;
	position: relative;

	& + & {
		margin-top: 10px;
	}

	&_link {
		display: block;
		background: $background-box;
		padding: 15px 20px;
		text-decoration: none;
	}

	&_value {
		float: right;
		margin-right: 45px;
		color: rgba($text, 0.4);
	}

	&_settings {
		position: absolute;
		right: 20px;
		top: 0;
		font-size: 1.2em;
		line-height: 55px;
		opacity: 0.6;
		@extend [class^="icon-"]:before;
	}
}