@import '../definitions/variables';

.document-reconcile {
	&_wrap {
		background: $background-box;
		padding: 20px;

		@extend .b-loader;
		@extend .b-loader--light;
	}

	&_account-select {
		font-size: 20px;
	}

	&_prefix {
		margin-top: 50px;
		padding: 0 60px;
		text-align: center;
	}
	&_amount {
		margin-top: 5px;
		padding: 0 30%;
	}
	&_amount-input  {
		width: 100%;
		box-sizing: border-box;
		background: none;
		text-align: center;
		font-size: 26px;
		padding: 5px 0;

		border: 1px solid lighten($background-box, 2);
		outline: none;
		background: lighten($background-box, 2);
	}

	&_adjustment {
		padding: 40px 20px 20px;

		&--hidden {
			display: none;
		}

		&-text {
			opacity: 0.8;
		}

		&-budget {
			margin-top: 20px;
		}
		.transactions-editor-budget-select {
			@extend .b-form-select;
		}

		&-memo {
			margin-top: 20px;
		}
	}

	&_save {
		margin-top: 20px;
	}
}