@import '../definitions/variables';

.document-settings {
	&-accounts_empty,
	&-plugins_empty {
		display: none;

		&--visible {
			display: block;
		}
	}

	&_users-wrap {
		margin-top: 30px;

		&--hidden {
			display: none;
		}
	}
}