@import '../definitions/variables';

.document-settings-user {
	display: block;
	position: relative;
	background: $background-box;
	padding: 15px 20px;
	text-decoration: none;

	& + & {
		margin-top: 10px;
	}

	&_access {
		position: relative;
		margin-right: 10px;
		top: -2px;
	}

	&_admin {
		display: inline-block;
		border: 1px solid rgba($primary, 0.7);
		color: rgba($primary, 0.8);

		margin-left: 10px;
		padding: 2px 5px;
		border-radius: 4px;

		font-size: 11px;

		&--hidden {
			display: none;
		}
	}
}