@import '../definitions/variables';

.settings-add-session {
	&_qr {
		height: 340px;
		background: $background-box;
		margin: 30px 130px 0;
		padding: 30px;

		@extend .b-loader;
		@extend .b-loader--light;
	}

	&_button {
		margin-top: 40px;

		& + & {
			margin-top: 20px;
		}
	}
}