@import '../definitions/variables';

.settings-session {
	display: block;
	position: relative;
	background: $background-box;
	padding: 15px 20px;
	text-decoration: none;

	& + & {
		margin-top: 10px;
	}

	&_delete {
		display: none;
		position: absolute;
		right: 20px;
		top: 0;
		font-size: 1.2em;
		line-height: 55px;
		opacity: 0.6;
		@extend [class^="icon-"]:before;
	}
	&:hover &_delete {
		display: block;
	}
}