@import '../definitions/variables';

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	padding-top: 60px;
	z-index: 19;
	overflow: hidden;
	width: $sidebar-width;
	background: $background;
	transform: translate3d(0, 0, 0);
	transition: width 0.8s ease-in-out 0.25s, transform ease-out 0.3s;
	border-right: 1px solid $background-box;

	.sidebar--mini {
		width: $sidebar-width;
		transition: width 0s ease-out, transform ease-out 0s;
	}

	&:not(.sidebar--mini):hover {
		width: $sidebar-width * 3.5;
		transition: width 0.25s ease-out 1s, transform ease-out 0.3s;
	}

	&--hidden {
		top: -100%;
		transform: translate3d(-$sidebar-width, 0, 0);
		transition: width 0.8s ease-in-out 0.25s, top ease-in 0.3s, transform ease-in 0.3s 0.3s;
	}

	&_item {
		display: block;
		border-left: 4px solid transparent;
		border-top: 1px solid $background-box;
		border-bottom: 1px solid $background-box;
		background: white;

		&-link {
			display: block;
			width: $sidebar-width * 3;
			height: $sidebar-width;
			text-decoration: none;
			line-height: $sidebar-width;
			color: lighten($background-footer, 45);
			box-sizing: content-box;

			&:hover {
				color: lighten($background-footer, 10);
			}
			&:active {
				color: lighten($background-footer, 10);
			}
		}
		&--active {
			border-left-color: $primary;
		}

		&-icon {
			display: block;
			float: left;
			width: $sidebar-width - 4px;
			padding-right: 4px;

			font-family: 'dwimm';
			font-style: normal;
			font-weight: normal;
			speak: none;

			font-size: 2.5em;
			font-variant: normal;
			text-transform: none;
			text-align: center;

			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		&-name {
			display: block;
			float: left;
			white-space: nowrap;
			font-size: 1em;
			width: $sidebar-width * 2;
			opacity: 0.6;
		}

		& + & {
			margin-top: -1px;
		}
	}
}