@import '../definitions/variables';

.transactions-scroll {
	padding: 30px;

	@extend .b-loader;
	@extend .b-loader--light;

	&_dropzone {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba($background-box, 0.9);


		&:before {
			content: '';
			position: absolute;
			left: 120px;
			right: 40px;
			top: 100px;
			bottom: 80px;
			border: 4px dashed rgba($background-footer, 0.4);
			border-radius: 40px;
		}


		&-wrap {
			position: absolute;
			top: 50%;
			left: 30%;
			width: 40%;
			height: 100px;
			margin: -50px 0;
			text-align: center;

			@extend .b-loader;
			@extend .b-loader--nobg;
		}

		&-headline {
			@extend .b-form-label;
		}

		&-account-wrap {
			@extend .b-form-select-wrap;
		}

		&-account {
			@extend .b-form-select;
		}
	}
}

.transactions-month + .transactions-month {
	margin-top: 2px;
}