<ul class="add-account-search-bank-plugin-links">
	<li class="add-account-search-bank-plugin-link"><a href="#">GitHub</a></li>
	<li class="add-account-search-bank-plugin-link"><a href="#">Website</a></li>
	<li class="add-account-search-bank-plugin-link"><a href="#">Documentation</a></li>
</ul>

<span class="add-account-search-bank-plugin-headline">N26 Plugin</span>
<span class="add-account-search-bank-plugin-id">@dwimm/plugin-n26@0.0.2</span>

<span class="add-account-search-bank-plugin-supports">Unterstützt diese Konten:</span>
<ul class="add-account-search-bank-plugin-supports-ul">
	<li><a href="https://n26.com/">N26</a></li>
</ul>

<button type="submit" class="add-account-search-bank-plugin-install button button--small">N26 Plugin installieren</button>