<a href="#{{document.id}}/budget" class="dashboard-item_name">
	<form class="dashboard-item_form">
		<input name="name" class="dashboard-item_input" value="{{document.name}}" readonly />
	</form>
</a>
<a href="#{{document.id}}/settings" class="dashboard-item_settings dashboard-item_settings--hidden">&#xe802;</a>