<h2>{{string 'documentAccountSettings.headline'}}</h2>

<div class="document-account-settings_grid">
	<label for="document-account-settings_name">Name:</label>
	<input type="text" id="document-account-settings_name" class="document-account-settings_name" />
</div>
<div class="document-account-settings_grid">
	<label for="document-account-settings_type">Typ:</label>
	<select id="document-account-settings_type" class="document-account-settings_type">
		<option value="checking">Checking</option>
		<option value="savings">Savings</option>
		<option value="creditCard">Credit Card</option>
		<option value="cash">Cash</option>
		<option value="paypal">PayPal</option>
		<option value="mortgage">Mortgage</option>
		<option value="asset">Asset</option>
		<option value="loan">Loan</option>
	</select>
</div>