<a href="#{{document.id}}/settings/plugins/{{plugin.id}}" class="document-settings-plugin_link">
	<span class="document-settings-plugin_name"></span>
	<span class="document-settings-plugin_status"></span>
	<span class="document-settings-plugin_settings">&#xe802;</span>
</a>