<input type="checkbox" class="document-settings-user_access" />
<span class="document-settings-user_email"></span>
<span class="document-settings-user_admin document-settings-user_admin--hidden">{{string 'documentSettings.users.admin'}}</span>