<h2 class="document-plugin-settings_headline"></h2>

<div class="document-plugin-settings_status-wrap document-plugin-settings_status-wrap--hidden">
	<h3 class="document-plugin-settings_subheadline">{{string 'documentPluginSettings.status.headline'}}</h3>
	<ul class="document-plugin-settings_status"></ul>
</div>


<div class="document-plugin-settings_settings-wrap document-plugin-settings_settings-wrap--hidden">
	<h3 class="document-plugin-settings_subheadline">{{string 'documentPluginSettings.settings'}}</h3>

	<div class="document-plugin-settings_settings"></div>

	<button type="submit" class="document-account-settings_save button button--inline button--small">{{string 'documentPluginSettings.save'}}</button>
	<button type="reset" class="document-account-settings_cancel button button--inline button--small button--text">{{string 'documentPluginSettings.cancel'}}</button>
</div>
