<h2 class="b-headline-l1">{{string 'documentReconcile.headline'}}</h2>

<div class="document-reconcile_wrap loading">
	<div class="document-reconcile_account b-form-select-wrap">
		<select class="document-reconcile_account-select b-form-select"></select>
	</div>

	<p class="document-reconcile_prefix">{{string 'documentReconcile.amountPrefix'}}</p>

	<div class="document-reconcile_amount">
		<input class="document-reconcile_amount-input" />
	</div>

	<div class="document-reconcile_adjustment document-reconcile_adjustment--hidden">
		<p class="document-reconcile_adjustment-text"></p>

		<span class="document-reconcile_adjustment-budget b-form-select-wrap"></span>
		<input type="text" class="document-reconcile_adjustment-memo b-form-input" placeholder="{{string 'documentReconcile.label.memo'}}" />
	</div>
</div>

<button type="submit" class="document-reconcile_save button">{{string 'documentReconcile.label.saveAndNext'}}</button>