<a href="#{{document.id}}/settings/accounts/{{account.id}}" class="document-settings-account_link">
	<span class="document-settings-account_name"></span>
	<span class="document-settings-account_value"></span>
	<span class="document-settings-account_settings document-settings-account_settings--hidden">&#xe802;</span>
</a>