<ul class="header_list">
	<li class="header_item header_item--left header_item--documents">
		<a href="#" class="header_item-icon" title="{{string 'header.documents.title'}}">&#xe805;</a>
	</li>
	<li class="header_item header_item--right header_item--settings">
		<a href="#settings" class="header_item-icon" title="{{string 'header.settings.title'}}">&#xe802;</a>
	</li>
	<li class="header_item header_item--right header_item--user">
		<div class="header_item-user-img"></div>
		<span class="header_item-user-name">{{user.email}}</span>
	</li>
</ul>