<h2 class="b-headline-l1">{{string 'settings.headline'}}</h2>

<h3 class="b-headline-l2">{{string 'settings.sessions.headline'}}</h3>
<div class="settings_sessions"></div>
<a href="#settings/sessions/new" class="settings_add-session button button--secondary button--small button--inline button--right">{{string 'settings.sessions.add'}}</a>
